# Python
__pycache__/
*.pyc
*.egg-info/
build/
dist/
.virtual_documents/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
__MACOSX/

# Data / large files
**/*.gz
**/*.zip
**/*.h5ad
**/*.fcs

# Figures / docs
*.ai
*.pptx

# R
*.Rproj*
.Rproj.user/
.Rhistory
**/*.RDS
**/*.rds
**/*.Rds
**/*.RData
