**/.DS_Store
**/*.gz
**/.ipynb_checkpoints
**/*.pptx
**/.Rhistory
**/*.Rproj*
.virtual_documents/
**/*.zip
**/*.fcs
**/*.sif
**/*.wsp
**/*.RDS
**/*.rds
**/*.Rds
**/*.RData
**/*.html
.Rproj.user/*
.Rhistory
.Rproj.user
